<section>
  <ul class="nav nav-pills">
    <li ng-class="{ active:tab.isSet(1) }">
      <a href ng-click="tab.setTab(1)">Add Story</a>
    </li>
    <li ng-class="{ active:tab.isSet(2) }">
      <a href ng-click="tab.setTab(2)">Add Task</a>
    </li>
    <li ng-class="{ active:tab.isSet(3) }">
      <a href ng-click="tab.setTab(3)">History</a>
    </li>
  </ul>
  <story-form ng-show="tab.isSet(1)" ></story-form>
  <task-form ng-show="tab.isSet(2)"></task-form>
  <history ng-show="tab.isSet(3)"></history>

</section>
