<form name="addStoryForm" ng-submit="storyCtrl.addStory()">
  <blockquote >
    <strong>US {{storyCtrl.story.id}}</strong><br></br>
    <strong>As</strong> {{storyCtrl.story.as}}<br></br>
    <strong>I want to</strong> {{storyCtrl.story.iWant}}<br></br>
    <strong>To</strong> {{storyCtrl.story.to}}<br></br>
  </blockquote>

  <fieldset class="form-group">
    <input ng-model="storyCtrl.story.as" type="text" class="form-control" placeholder="As ... " title="As" required/>
  </fieldset>
  <fieldset class="form-group">
    <input ng-model="storyCtrl.story.iWant" type="text" class="form-control" placeholder="I want to ... " title="IWant" required />
  </fieldset>
  <fieldset class="form-group">
    <input ng-model="storyCtrl.story.to" type="text" class="form-control" placeholder="To ... " title="To" required/>
  </fieldset>

  <fieldset class="form-group">
    <input type="submit" class="btn btn-primary pull-right" value="Submit Story"/>
  </fieldset>

</form>
