<table class="table table-condensed" border="1px" width="90%" height="90%" align="center" >
  <tr>
  	<td bgcolor="#EBF5FF">
  		<b> US {{storyDisplayCtrl.story.id}} </b>
  	</td>
  </tr>
  <tr>
  	<td ng-hide="storyDisplayCtrl.story.edit" bgcolor="#FFFFFF">
  		<b> As </b> {{storyDisplayCtrl.story.as}}
  	</td>
  	<td ng-show="storyDisplayCtrl.story.edit">
  		<input ng-model="storyDisplayCtrl.story.as" type="text" class="form-control" placeholder="As ... " title="As" />
  	</td>
  </tr>
  <tr>
  	<td ng-hide="storyDisplayCtrl.story.edit" bgcolor="#FFFFFF">
  		<b> I want </b>{{storyDisplayCtrl.story.iWant}}
  	</td>
  	<td ng-show="storyDisplayCtrl.story.edit">
  		<input ng-model="storyDisplayCtrl.story.iWant" type="text" class="form-control" placeholder="I want to ... " title="IWant"/>
  	</td>
  </tr>
  <tr>
  	<td ng-hide="storyDisplayCtrl.story.edit" bgcolor="#FFFFFF">
  		<b> To </b>{{storyDisplayCtrl.story.to}}
  	</td>
  	<td ng-show="storyDisplayCtrl.story.edit">
  		<input ng-model="storyDisplayCtrl.story.to" type="text" class="form-control" placeholder="To ... " title="To" />
  	</td>
  </tr>
  <tr align="right">
	    <td bgcolor="#dddddd" height="30">
	    	<button class="btn glyphicon glyphicon-pencil" ng-hide="storyDisplayCtrl.story.edit" ng-click="storyDisplayCtrl.edit(storyDisplayCtrl.story)"></button>
	    	<button class="btn glyphicon glyphicon-floppy-disk" ng-show="storyDisplayCtrl.story.edit" ng-click="storyDisplayCtrl.save(storyDisplayCtrl.story)"></button>
	    	<button class="btn glyphicon glyphicon-trash" ng-click="storyDisplayCtrl.remove(storyDisplayCtrl.story)"></button>	
	    </td>
  </tr>
</table>
