<form name="addStoryForm" ng-submit="storyFormCtrl.addStory()">
 <table>
  <tr>
    <td width="500px">
      <fieldset class="form-group">
        <input ng-model="storyFormCtrl.story.as" type="text" class="form-control" placeholder="As ... " title="As" required/>
      </fieldset>
      <fieldset class="form-group">
        <input ng-model="storyFormCtrl.story.iWant" type="text" class="form-control" placeholder="I want to ... " title="IWant" required />
      </fieldset>
      <fieldset class="form-group">
        <input ng-model="storyFormCtrl.story.to" type="text" class="form-control" placeholder="To ... " title="To" required/>
      </fieldset>
    </td>

    <td width="500px">

      <blockquote >
        <strong>US {{storyFormCtrl.story.id}}</strong><br></br>
        <strong>As</strong> {{storyFormCtrl.story.as}}<br></br>
        <strong>I want to</strong> {{storyFormCtrl.story.iWant}}<br></br>
        <strong>To</strong> {{storyFormCtrl.story.to}}<br></br>
      </blockquote>

      <fieldset class="form-group">
        <input type="submit" class="btn btn-primary pull-right" value="Submit Story"/>
      </fieldset>
    </td>
   </tr>
  </table>
</form>
