<ul align="center" >
    <li ng-repeat="task in tasksDisplayCtrl.tasks" ng-show="tasksDisplayCtrl.isInTheColunm(task)">
	  <table border="1px" width="90%" align="center">

	    <tr align="center">
	    	<td> 
	    		<button class="btn glyphicon glyphicon-circle-arrow-left" ng-click="tasksDisplayCtrl.moveToLeft(task)" ng-disabled="tasksDisplayCtrl.moveButtonEnable(task, 'left')"> </button>
            </td>
	    	<td>
	    		US{{task.parentId}}-T{{task.id}}
	    	</td>
	    	<td> 
	    		<button class="btn glyphicon glyphicon-circle-arrow-right" ng-click="tasksDisplayCtrl.moveToRight(task)" ng-disabled="tasksDisplayCtrl.moveButtonEnable(task, 'right')"> </button> 
	    	</td>
	    </tr>
	    <tr align="center">
	    	<td colspan="3" ng-hide="task.edit">
	    		{{task.description}}
	    	</td>
	    	<td colspan="3" ng-show="task.edit">
	    		<textarea ng-model="task.description" type="text" class="form-control" placeholder="Description..." title="Description">
	    		</textarea>
	    	</td>
	    </tr>
	    <tr align="right">
	    	<td colspan="3">
	    		<button class="btn glyphicon glyphicon-pencil" ng-hide="task.edit" ng-click="tasksDisplayCtrl.editTask(task)">
	    		</button>
	    		<button class="btn glyphicon glyphicon-floppy-disk" ng-show="task.edit" ng-click="tasksDisplayCtrl.saveTask(task)">
	    		</button>
	    		<button class="btn glyphicon glyphicon-trash" ng-click="tasksDisplayCtrl.removeTask(task)">
	    		</button>
	    	</td>
	    </tr>
	  </table>
	  <br></br>
    </li>
</ul>

